
body{
  background-color:beige;
  
}
span{
  color:magenta;

}
strong{
  color:blue;
}
h1{
  text-align: center;
  color:blue;
}
.para{
  color:mediumpurple;
  margin-left:50px;
}
div{
  margin: 10px 60px 10px;
  /* margin-top: 10px; */
  display: inline-block;
}
.Vertical{
  border-left: 1px solid gray;
    height: 80px;
    margin:0
}
.Horizontal{
  border-bottom: 4px solid red;
  width:50px;
  margin: auto;
  display: block;
    left: 50%;

}
button{
  margin:10px 22px 10px;
}
div.decrement{
  height: 146px;
  
}