<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>

	<h1>Welcome to the Home Page</h1>

	<p>You are logged in <%= user.username %></p>


	
<a href="/logout"><button>Logout</button></a>
	
<a href="/profile"><button>Get Profile</button></a>

</body>
</html>