<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<h1>Login Page</h1>
	<br>
	<br>
	<%= message %>
	<form method="POST" action="/login">
	<fieldset>
		<label>Username:</label> <input type="text" name="username">
	</fieldset>
	<fieldset>
		<label>Password:</label> <input type="password" name="password">
	</fieldset>

	<br>
	<button>Submit</button>
	</form>
	<br>
	<br>

</body>
</html>