<!DOCTYPE html>
<html>
<head>
	<title>Registration Page</title>
</head>
<body>

	<h1>Registration Page</h1>

	<form method="POST" action="/signup">
	<fieldset>
		<label>Username:</label><input type="text" name="username">
	</fieldset>
	<fieldset>
		<label>Password:</label><input type="password" name="password">
	</fieldset>
	<br>
	<br>
	<button>Submit</button>
	</form>
</body>
</html>