<!DOCTYPE html>
<html>
<head>
    <title>Update Student</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
 <!-- we use action /update in app.js -->
<form method="POST" action="/update"> 

    <h1>Update Student</h1>
    <fieldset>
        <label>ID:</label><input type="text" name="id" value= <%= result.rows[0].id %> >
    </fieldset>
    <fieldset>
        <label>Name:</label><input type="text" name="name" value='<%= result.rows[0].name %>'>
    </fieldset>
        <fieldset>
        <label>Email:</label><input type="text" name="email" value=<%= result.rows[0].email %>>
    </fieldset>
    <fieldset>
        <button class="btn-add">Update Info</button>
    </fieldset>



</form>
</body>
</html>