
<nav>
  <!-- <a href="/"><img src="./images/assets/barkspacelogo.svg" id="logo"></a> -->

  <nav class="navbar navbar-light bg-light justify-content-between">
    <a href="/"><img src="./images/assets/barkspacelogo.svg" id="logo"></a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  


  <!-- <form>
      <input type="search" name="search">
      <button id="btn_search" type="submit">Search</button>
  </form> -->


  <% if (tempLogin.length > 0) { %>

    <a href="/logout"><button>Log out</button></a>

  <% } else { %>

  <a href="/signup">Login | Register</a>

  <% } %>

</nav>
<br>
<br>
