<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    
   
    <style>
    span{color:red}
    </style>
    <title>Bakery</title>
</head>
<body>
        <div class="w3-content w3-container w3-padding-64" >
    <h1 class="w3-center"> The Bakery Factory</h1>

<form method="POST" action="/butter">
<button>Butter</button><span> <%= butter %> </span>
</form><br>

 <form method="POST" action="/almond">
    <button>Almond</button><span> <%= almond %> </span>
    </form><br>

    <form method="POST" action="/oatmeal">
        <button>Oatmeal</button><span> <%= oatmeal %> </span> 
        </form><br>

        <form method="POST" action="/feel-guilty">
        <button>Feel Guilty eating too much</button></form>

</div>

</body>
</html>