<footer style="display:block; font-size: 2rem; background: #333333;color:#fff">
    <p>Posted by: hossam.elnaggar</p>
    <p>Contact information: <a href="mailto:someone@example.com">
    someone@example.com</a>.</p>
  </footer>