<form action="/login" method="post">
	<div>
	<label>Username:</label>
	<input type="text" name="username"/><br/>
	</div>
	<div>
	<label>Password:</label>
	<input type="password" name="password"/>
    </div>
    
	<div>
	<button type="submit" value="Submit"/>Login</button>
	</div>
</form>