/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
#about {
    padding-top: 48px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color:#f5f5f5;
}
.footer p {
    line-height: 60px;
    color: rgb(245, 89, 89);
}
.footer a {
    color: #efb22e;
    text-decoration: none;
}
/* .footer,
.push {
  height: 50px;
} */

  body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
    position: absolute;;

}
fieldset {
                 background: #fafafa;
                 width: 745px;
                 height: 200px;
                 margin: 0px 250px;
                 padding: 35px 66px;
                 box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
                 text-transform: capitalize;
                 display: inline-block;
                 overflow: auto;
                 position: relative;
                           
                 /* overflow: auto; to make text fit the div */
}
.delete-btn{
    margin: 0;
}
 .row-body{
    background-color: whitesmoke;
}

textarea, select, input{
    background-color: gainsboro
}
button{
    float: right;
}
.navbar-inverse {
    position: fixed;
    max-height: 70px;
    width: 100%;
    padding: 20px 0 10px 0;
    z-index: 900;
    background: #fff;
    border-bottom: 1px #E52E2D solid;
    overflow: hidden;
}
